.product-item[_ngcontent-bqf-c89] img[_ngcontent-bqf-c89] {
    width: 196px;
    height: 196px;
}

.product-grid[_ngcontent-bqf-c89] .container[_ngcontent-bqf-c89] {
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
}

.product-grid[_ngcontent-bqf-c89] {
    margin: 0;
    padding: 40px 0 0;
}
/* a {
    color: #0064d2;
    cursor: pointer;
    font-family: Akkurat;
} */
/* body {
    font-family: Akkurat-light,Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #414141;
} */
.product-item[_ngcontent-bqf-c89]:hover {
    border: 2px solid #0064d2;
    border-radius: 8px;
}
* {
    box-sizing: border-box;
}
.product-item[_ngcontent-bqf-c89] {
    cursor: pointer;
    padding: 8px 8px 16px;
    margin: 0;
    border: 2px solid transparent;
}

.product-cell[_ngcontent-bqf-c89] {
    padding: 0 0 48px;
    width: 25%;
}
.product-selector[_ngcontent-bqf-c89] {
    position: relative;
}
.body {
    max-width: 984px;
    margin: 0 auto;
    padding: 0 0 25px;
    position: relative;
}
.product-header[_ngcontent-bqf-c89] {
    display: flex;
    justify-content: space-between;
    margin: 35px 0 0;
}
h1.heading[_ngcontent-bqf-c89]::first-letter {
    text-transform: capitalize;
}
h1.heading[_ngcontent-bqf-c89] {
    margin: 0 0 20px;
}
.v1-heading {
    font-family: Akkurat-bold;
    font-weight: 400;
    font-size: 28px;
    letter-spacing: -.55px;
    line-height: 35px;
}
.cta-section[_ngcontent-bqf-c45] {
    line-height: 1em;
    cursor: pointer;
    padding: 10px 0;
    display: inline-block;
}

.able-action-button-low-em.sz-small[_ngcontent-bqf-c45] {
    font-size: 18px;
}
.able-action-button-low-em {
    font: 400 1.25rem/1.4 Telstra Akkurat,Helvetica Neue,Helvetica,Arial,sans-serif;
        font-size: 1.25rem;
        line-height: 1.4;
    line-height: 2rem;
    padding-top: "spacing1x";
    padding-bottom: "spacing1x";
}
.able-action-button-low-em {
    display: inline-block;
    text-decoration: none;
    border-radius: 0;
    background-color: #eee;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    text-align: center;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    max-width: 100%;
    border-radius: 3px;
    font: 400 1rem/1.4 Telstra Akkurat,Helvetica Neue,Helvetica,Arial,sans-serif;
    letter-spacing: .009375rem;
    border: 0;
    background: transparent;
    color: #0064d2;
    line-height: 1.5rem;
    text-align: left;
    transform: translateX(-.25rem);
    padding: .75rem .25rem;
    transition: color .25s,box-shadow .25s,background-color .25s;
}
.product-value[_ngcontent-lgs-c88] {
    font-size: 16px;
}
.product-value[_ngcontent-lgs-c88] {
    font-size: 16px;
    font-family: Akkurat-light;
    color: #414141;
    text-align: center;
    margin-top: 8px;
}

.product-item[_ngcontent-lgs-c89] .product-name[_ngcontent-lgs-c89] {
    font-family: Akkurat-bold;
    line-height: 20px;
    height: 50px;
    margin-top: 10px;
}
.product-item[_ngcontent-lgs-c89] .product-name[_ngcontent-lgs-c89] {
    line-height: 18px;
    height: 54px;
    margin-top: 10px;
    color: #414141;
    margin-bottom: 16px;
}
.product-item[_ngcontent-lgs-c89] .image[_ngcontent-lgs-c89], .product-item[_ngcontent-lgs-c89] .product-name[_ngcontent-lgs-c89] {
    text-align: center;
}

.hero-banner[_ngcontent-vpl-c92] {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-banner[_ngcontent-vpl-c92] {
    margin: 16px auto 20px;
    overflow: hidden;
    height: auto;
    width: 1360px;
    background-color: #fff;
}
.container[_ngcontent-vpl-c92] {
    width: 1432px;
    margin: 0 -192px;
    justify-content: right;
}
.container[_ngcontent-vpl-c92], .content-container[_ngcontent-vpl-c92] {
    display: flex;
    justify-content: center;
}
.container[_ngcontent-vpl-c92] {
    align-items: center;
}
.content-container[_ngcontent-vpl-c92] {
    position: unset;
    padding: 16px 24px 16px 44px;
    width: 800px;
    min-height: 400px;
    height: 100%;
    transform: translateX(64px);
    flex-flow: column;
    align-items: flex-start;
    background: #fff;
    border-left: 4px solid transparent;
    -o-border-image: linear-gradient(180deg,#0064d2,#5cd6e0 30%,#5e50bf);
    border-image: linear-gradient(180deg,#0064d2,#5cd6e0 30%,#5e50bf);
        border-image-slice: 100%;
    border-image-slice: 0 0 0 1;
}
.container[_ngcontent-vpl-c92], .content-container[_ngcontent-vpl-c92] {
    display: flex;
    justify-content: center;
}
.logo-title[_ngcontent-vpl-c92] {
    display: flex;
}
.title[_ngcontent-vpl-c92] {
    width: 520px;
    color: #282828;
    font-family: Telstra Akkurat;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 34px;
}
.desktop[_ngcontent-vpl-c92] .heading[_ngcontent-vpl-c92] {
    line-height: 52px;
}
.heading[_ngcontent-vpl-c92] {
    margin: 20px 0;
    font-size: 40px;
}
.v1-heading {
    font-family: Akkurat-bold;
    font-weight: 400;
    font-size: 28px;
    letter-spacing: -.55px;
    line-height: 35px;
}
.content[_ngcontent-vpl-c92], .disclaimer[_ngcontent-vpl-c92] {
    width: 520px;
    font-family: Telstra Akkurat;
}
.content[_ngcontent-vpl-c92] {
    font-size: 28px;
    color: #414141;
    font-size: 20px;
    letter-spacing: .15px;
    line-height: 28px;
}
.disclaimer[_ngcontent-vpl-c92] {
    margin: 10px 0 0;
    color: #707070;
    font-size: 14px;
    letter-spacing: .18px;
    line-height: 20px;
}
.content[_ngcontent-vpl-c92], .disclaimer[_ngcontent-vpl-c92] {
    width: 520px;
    font-family: Telstra Akkurat;
}
.btn-group[_ngcontent-vpl-c92] {
    display: inline-block;
    margin-top: 16px;
    width: 100%;
}
.tec-cta[_ngcontent-vpl-c92] {
    width: 50%;
    float: left;
}

.background.desktop[_ngcontent-vpl-c92] {
    display: block;
    width: 100%;
    min-height: 600px;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

div [class*="Input_input"] {
    display: none;
}





.ActionButtonHighEmphasis {
    display:inline-block;
    text-align:center;
    position:relative;
    vertical-align:middle;
    cursor:pointer;
    max-width:100%;
    border-radius:.1875rem;
    text-decoration:none;
    font:700 1rem/1.4 Telstra Akkurat,Helvetica Neue,Helvetica,Arial,sans-serif;
    width:100%;
    line-height:1.25rem;
    padding:1rem;
    overflow:hidden;
    background-size:100% 300%;
    background-position:0 100%;
    transition:background-color 250ms,color 250ms,border 250ms,box-shadow 250ms;
    transition-timing-function:ease-in;
    border:0;
    background-color:#0064d2;
    color:#fff;
   }
   .ActionButtonHighEmphasis:focus {
    outline:none
   }
   .ActionButtonHighEmphasis::before {
    content:"";
    position:absolute;
    top:50%;
    left:50%;
    transform:translate3d(-50%, -50%, 0) scale(1);
    opacity:0;
    width:150%;
    border-radius:50%;
    padding-top:150%;
    transition:transform 400ms,opacity 700ms 250ms;
    will-change:transform,opacity
   }
   .ActionButtonHighEmphasis:active::before {
    transform:translate3d(-50%, -50%, 0) scale(0);
    opacity:1;
    transition:0s
   }
   .ActionButtonHighEmphasis:focus:not(:hover) {
    box-shadow:0 0 0 .1875rem #0099f8
   }
   @media(forced-colors: active) {
    .ActionButtonHighEmphasis:focus:not(:hover) {
     outline:1px solid #fff
    }
   }
   @media screen and (min-width: 48rem) {
    .ActionButtonHighEmphasis {
     width:auto;
     min-width:11.25rem
    }
   }
   @media screen and (min-width: 105rem) {
    .ActionButtonHighEmphasis {
     font:700 1.25rem/1.4 Telstra Akkurat,Helvetica Neue,Helvetica,Arial,sans-serif;
     line-height:1.5rem
    }
   }
   .ActionButtonHighEmphasis:before {
    background-color:rgba(255,255,255,.3);
   }
   .ActionButtonHighEmphasis:hover,
   .ActionButtonHighEmphasis:active,
   .ActionButtonHighEmphasis:focus {
    background-color:#001e82
   }


   .buttonSoldOut {
    display:inline-block;
    text-align:center;
    position:relative;
    vertical-align:middle;
    cursor:pointer;
    max-width:100%;
    border-radius:.1875rem;
    text-decoration:none;
    font:700 1rem/1.4 Telstra Akkurat,Helvetica Neue,Helvetica,Arial,sans-serif;
    width:100%;
    line-height:1.25rem;
    padding:1rem;
    overflow:hidden;
    background-size:100% 300%;
    background-position:0 100%;
    transition:background-color 250ms,color 250ms,border 250ms,box-shadow 250ms;
    transition-timing-function:ease-in;
    border:0;
    background-color:rgb(187, 187, 187);
    color:#fff;
    width: auto;
min-width: 11.25rem;
   }

   @media screen and (-ms-high-contrast: active) {
    .ActionButtonHighEmphasis {
     border:1px solid #fff
    }
   }